.menudesk{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menudesk ul{
   display: flex;
}
.menudesk ul li{
    display: flex;
    flex-direction: column;
}
.snap{
    font-size: 4vw;
}

.setaup{ transform: rotate(0deg); margin-left: 10px; }
.setadown{ transform: rotate(180deg); margin-left: 10px; }
.setabup{ transform: rotate(0deg); margin-left: 10px; }
.setabdown{ transform: rotate(180deg); margin-left: 10px; }

.menudesk ul{
    width: 40%;
}
.lifeatures{
    width: 30%;
    font-size: 2vw;
}
.licompany{
    width: 30%;
    font-size: 2vw;
}

.careersabout{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    width: 40%;
    font-size: 2vw;
}
.careersabout li a{
    text-align: center;
}

.loginregister{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.show{
    padding: 10px;
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    position: absolute;
    width: 25vh;
    top: 45px;
    gap: 20px;
    border-radius: 5px;
}
.show a{
    font-size: 1.7vw;
}
.show a:hover{
    background-color: #DDDDDD;
}
.login{
    width: 100px;
    cursor: pointer;
    padding: 10px;
    font-size: 2vw;
}
.register{
    width: 120px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2vw;
    transition: background-color 1s;
}
.register:hover{
    background-color: #000;
    color: #FFF;
}

.none{
    display: none;
}
@media(max-width: 900px){
    .menudesk{
        display: none;
    }
}